.name {
    margin: 15px 3px;
}

.users-card {
    width: 90vw;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

@media screen and (max-width: 1280px) {
    .users-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .users-card {
        grid-template-columns: repeat(1, 1fr);
    }
}

.mdc-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-view {
    margin: 0 5px;
    padding: 5px 10px;
    background: orange;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn-delete {
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.input-container {
    margin: 30px 70px;
}

.create-card-data {
    display: flow;
    width: 250px;
    padding: 20px;
    margin: 0 auto 60px auto;
}