<div class="courses-containers">
    <div class="courses-list">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Course List
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <div class="course-list-container" (click)="updateBox(course)" *ngFor="let course of courses">
                        <div class="course-list-item">
                            <h3 matLine class="h3-mat">{{course.title}}</h3>
                            <p matLine class="p-mat">{{course.description}}</p>
                        </div>
                        <button (click)="deleteItem(course)" mat-icon-button color="warn" class="btn-delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="courses-details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <span *ngIf="selectedCourse.id; else noCourse">{{selectedCourse.title}}</span>
                    <ng-template #noCourse>Select Course</ng-template>
                </mat-card-title>
            </mat-card-header>
            <form #form="ngForm" (submit)="saveCourse(selectedCourse)">
                <mat-card-content>
                    <mat-form-field>
                        <input matInput placeholder="Title" type="text" name="title" [(ngModel)]="selectedCourse.title" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Description" type="text" name="description" [(ngModel)]="selectedCourse.description">
                    </mat-form-field>
                    <section>
                        <h4>{{selectedCourse.percent}}% Complete</h4>
                        <mat-slider class="full-width">
                            <input matSliderThumb name="percent" [(ngModel)]="selectedCourse.percent">
                          </mat-slider>
                    </section>
                    <section>
                        <mat-checkbox class="example-margin" name="favorite" [(ngModel)]="selectedCourse.favorite">Check it!</mat-checkbox>
                    </section>
                    <!-- <pre *ngIf="selectedCourse; else elseBlock">{{selectedCourse | json}}</pre>
                    <ng-template #elseBlock>Select course</ng-template> -->
                </mat-card-content> 
                <mat-card-actions>
                    <button [disabled]="form.invalid" type="submit" mat-button color="primary">Submit</button>
                    <button type="button" mat-button (click)="cancel()">Cancel</button>
                </mat-card-actions>
            </form>
            <pre>{{form.value | json}}</pre>
            <pre>{{form.valid | json}}</pre> 
        </mat-card>
    </div>  
</div>