<div class="courses-containers">
    <div class="courses-list">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Course List
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <div class="course-list-container" (click)="updateBox(course)" *ngFor="let course of courses">
                        <div class="course-list-item">
                            <h3 matLine class="h3-mat">{{course.title}}</h3>
                            <p matLine class="p-mat">{{course.description}}</p>
                        </div>
                        <button (click)="deleteItem(course)" mat-icon-button color="warn" class="btn-delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="courses-details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Select Course
                </mat-card-title>
            </mat-card-header>
            <form #form="ngForm" (submit)="saveCourse()">
                <mat-card-content>
                    <mat-form-field>
                        <input matInput placeholder="Title" type="text" name="title" [(ngModel)]="displayRawJSON.title" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Description" type="text" name="description" [(ngModel)]="displayRawJSON.description">
                    </mat-form-field>
                    <section>
                        <mat-slider class="full-width" min="0" max="100" name="percentComplete" thumbLabel [(ngModel)]="displayRawJSON.percentComplete"></mat-slider>
                    </section>
                    <!-- <pre *ngIf="displayRawJSON; else elseBlock">{{displayRawJSON | json}}</pre>
                    <ng-template #elseBlock>Select course</ng-template> -->
                </mat-card-content>
                <mat-card-actions>
                    <button [disabled]="form.invalid" type="submit" mat-button color="primary">Submit</button>
                    <button type="button" mat-button (click)="cancel()">Cancel</button>
                </mat-card-actions>
            </form>
            <pre>{{form.value | json}}</pre>
            <pre>{{form.valid | json}}</pre> 
        </mat-card>
    </div>  
</div>