.course-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-container:hover {
    background: lightgray;
    color: #fff;
    cursor: pointer;
}

.course-text p,
.course-text h3 {
    margin-bottom: 0px;
}

.course-text p {
    margin-bottom: 20px;
}

.mat-mdc-button-base {
    margin-top: -6px;
}

.btn-delete {
    background: transparent;
    border: none;
    color: red;
}

.mat-mdc-card {
    border-radius: 20px;
    margin-top: 20px;
}