<div class="courses-list">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Course List
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <div class="course-list-container" *ngFor="let course of courses">
                    <div class="course-list-item">
                        <h3 matLine class="h3-mat">{{course.title}}</h3>
                        <p matLine class="p-mat">{{course.description}}</p>
                    </div>
                    <button (click)="deleteCourse.emit(course.id)" mat-icon-button color="warn" class="btn-delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
