<!-- <div class="btn-container">
    <div class="counter">{{ count$ | async }}</div>

    <button mat-mini-fab class="button" (click)="increment()">Increment</button>

    <button mat-mini-fab class="button" (click)="decrement()">Decrement</button>

    <button mat-mini-fab class="button" (click)="reset()">Reset Counter</button>
</div> -->
<div class="todo-container">
    <div>
        <div class="todo-title">Add ToDo List: </div>
        <div class="add-item">
            <input [(ngModel)]="newItem" placeholder="New Item">
            <button mat-mini-fab (click)="addItem()">Add Item</button>
        </div>
        <div class="todo-component" *ngFor="let item of todoList$ | async; let i = index">
            {{ item }}
            <button mat-mini-fab (click)="removeItem(i)">Remove</button>
        </div>
    </div>
</div>