.mdc-fab {
    width: auto;
    padding: 20px;
    margin: 0 20px;
    height: 40px;
    border-radius: 0;
}

.btn-container {
    margin: 40px auto;
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 20px;
}

.counter {
    font-size: 48px;
}

.todo-container {
    margin-top: 60px;
    justify-content: center;
}

.todo-title {
    text-align: center;
}

.add-item, .todo-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
