.form-item {
    display: grid;
    justify-content: center;
    width: 200px;
    height: auto;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

.cdk-dialog-container {
    display: block;
}

.custom-modal {
    max-width: 400px;
    width: 100%;
}
