<div class="input-container">
    <input #inputElement (keyup)="filterBooks()"/>
</div>
<div class="books-container">
    <div *ngFor="let book of filteredBooks">
        <!-- <div *ngFor="let book of filteredBooks$ | async"> async sub-->
        <div class="book-box">
            <h4 class="book-title">{{book.title}}</h4>
            <div class="img-box">
                <img class="book-images" [src]="book.imageLink" />
                <div>{{book.author}}</div>
                <div>{{book.id}}</div>
            </div>
            <button type="button" class="delete-item" (click)="deleteBook(book.id)">Delete</button>
        </div>
    </div>
</div>